set -a

# Local
export CONFIG_PATH=""
export PROJECT=""
export BUCKET=""

# GCP
export CONFIG_PATH=""
export PROJECT=""
export BUCKET=""
export REGION=""
export SUBNETWORK=""
export SA_EMAIL=""
export DATAFLOW_BUCKET=""
export JOB_NAME=""
